# Dev
TODO.md
venv/
.vscode/

# Cython
build/
libiintersection.cpp
libiintersection.*.so

# Python
__pycache__/
iintersection.egg-info

# Misc.
test.cpp
test.py
test.xml
test_cython/
tests/core
tests/tmp/